* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
}

main {
    max-width: 1000px;
    margin: 0px auto;
    padding: 50px 0px;
    height: 100vh;
}



/* --------------------------- Header ------------------------------------- */
header {
    padding: 20px 0 100px 0;
}

/* --------------------------- Info --------------------------------------- */

.info-container {
    display: flex;
    gap: 40px;
}

.text-info {
    max-width: 600px;
    width: 100%;
}

/* ------------- info-container values ------------- */

h1 {
    font-size: 50px;
    padding: 30px 0px;
    color: #333950;
    font-weight: 600;
    line-height: 56px;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #6e7795;
}

/* ------------------- Launch Date ---------------------------------------------- */

.launch-date {
    display: flex;
    letter-spacing: 4px;
    padding: 20px 0px;
}

.launch-date-white {
    color: #333950;
    font-weight: 500;
}

.launch-date-blue {
    color: #557aff;
    text-indent: 5px;
    font-weight: 500;
}

/* ------------------- Countdown ---------------------------------------------- */

.countdown-container {
    max-width: 1000px;
    margin: 0px auto;
    /* padding: 300px 20px 0px; */
}

.countdown-placeholder {
    display: flex;
    justify-content: space-between;
}

.countdown-timers {
    display: flex;
    gap: 10px;
}

.countdown {
    background-color: #edf1ff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
}

.countdown h2 {
    color: #557aff;
    font-size: 55px;
}

/* ------------------- Right side ---------------------------------------------- */

.right-side-bg-img {
    position: absolute;
    background-color: #333950;
}